@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

/* Variáveis globais para cores */
:root {
  --primary-color: #4CAF50; /* Verde forte */
  --secondary-color: #8BC34A; /* Verde claro */
  --background-color: #E8F5E9; /* Verde suave */
  --text-color: #333; /* Preto para texto */
  --light-text-color: #555; /* Cinza mais claro para texto secundário */
  --link-color: #388E3C; /* Verde escuro para links */
}

/* Reset padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #cfe5d0;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color); /* Verde forte para navbar */
}

.navbar .logo img {
    width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white; /* Texto branco para links na navbar */
    font-size: 18px;
}

/* Seção de Produtos */
.produto-section {
    text-align: center;
    padding: 50px;
    background-color: var(--background-color); /* Fundo suave */
}

.produto-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.produto-card {
    background-color: white; /* Cartão de produto em branco */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 6px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s;
}

.produto-card:hover {
    transform: scale(1.05); /* Efeito de zoom no hover */
}

.produto-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.produto-card h2 {
    font-size: 24px;
    color: var(--text-color); /* Texto principal em preto */
}

.produto-card p {
    font-size: 16px;
    color: var(--light-text-color); /* Texto secundário em cinza claro */
}

.produto-card button {
    background-color: var(--secondary-color); /* Botão verde claro */
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.produto-card button:hover {
    background-color: #66BB6A; /* Verde um pouco mais escuro no hover */
}

/* Footer */
footer {
    background-color: var(--primary-color); /* Fundo do footer em verde forte */
    color: white; /* Texto branco no footer */
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
