@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background: linear-gradient(to right, #91c7a3,#468843, #22881f);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    background-color: white;
    padding: 50px; /* Mais padding */
    border-radius: 15px; /* Canto mais arredondado */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15); /* Sombra mais suave */
    text-align: center;
    width: 550px; /* Largura maior */
  }
  
  h2 {
    margin-bottom: 25px; /* Maior espaçamento abaixo do título */
    color: #333;
    font-size: 24px; /* Tamanho da fonte maior */
  }
  
  .input-group {
    margin-bottom: 25px; /* Mais espaçamento entre os grupos */
  }
  
  .input-group label {
    display: block;
    text-align: left;
    margin-bottom: 10px; /* Espaçamento maior entre o label e o input */
    color: #777;
    font-size: 16px; /* Tamanho do label maior */
  }
  
  .input-group input, .input-group select {
    width: 100%;
    padding: 15px; /* Inputs mais "gordinhos" */
    border: 2px solid #ddd; /* Borda mais espessa */
    border-radius: 10px; /* Canto mais arredondado */
    font-size: 16px; /* Texto dentro do input maior */
    outline: none;
    transition: border-color 0.3s;
  }
  
  .input-group input:focus, .input-group select:focus {
    border-color: #6A82FB;
  }
  
  .login-btn {
    width: 140px; /* Botão mais largo */
    padding: 15px; /* Botão mais "gordinho" */
    background-color: #357833;
    color: white;
    border: none;
    border-radius: 10px; /* Canto mais arredondado no botão */
    font-size: 18px; /* Tamanho da fonte maior */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-btn:hover {
    background-color: #0a380b;
  }
  
  .signup-link {
    margin-top: 25px; /* Espaçamento maior no link de cadastro */
    color: #777;
    font-size: 14px; /* Texto do link ligeiramente maior */
  }
  
  .signup-link a {
    color: #106c2c;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
/* Campos de senha */
.input-group input[type="password"] {
  width: 100%;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

/* Foco nos campos de senha */
.input-group input[type="password"]:focus {
  border-color: #6A82FB;
}
