@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to right, #91c7a3, #468843, #22881f);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: white;
  padding: 50px; /* Mantendo o padding original */
  border-radius: 15px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 450px;
  height: 590px;
  margin-top: -2px;
}


.login-container > img {
  margin-top: -20px;
}

h2 {
  margin-bottom: 30px; /* Reduzindo espaço abaixo do título */
  color: #333;
  font-size: 22px; /* Reduzindo o tamanho da fonte */
}

.input-group {
  margin-bottom: 5px; /* Menos espaço entre os grupos */
}

.input-group label {
  display: block;
  text-align: left;
  margin-bottom: 10px; /* Espaçamento menor entre o label e o input */
  color: #777;
  font-size: 14px; /* Tamanho do label reduzido */
  margin-top: 10px;
}

.input-group input, .input-group select {
  width: 100%;
  height: 35px; /* Altura dos inputs reduzida */
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 14px; /* Texto dentro do input ligeiramente menor */
  outline: none;
  transition: border-color 0.3s;
}

.input-group input:focus, .input-group select:focus {
  border-color: #6A82FB;
}

.login-btn {
  width: 140px; 
  height: 40px; /* Reduzindo a altura do botão */
  background-color: #357833;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px; /* Mantendo a fonte do botão */
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 30px;
}

.login-btn:hover {
  background-color: #0a380b;
}

.signup-link {
  margin-top: 5px; /* Espaçamento menor no link de cadastro */
  color: #777;
  font-size: 14px;
}

.signup-link a {
  color: #106c2c;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

/* Campos de senha */
.input-group input[type="password"] {
  height: 35px; /* Reduzindo a altura do campo de senha */
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

/* Foco nos campos de senha */
.input-group input[type="password"]:focus {
  border-color: #6A82FB;
}
