<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Carrinho</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>

    <!-- Cabeçalho com logo e barra de pesquisa -->
    <header class="header">
        <div class="logo-container">
            <img id="g" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
            <h1>Carrinho de Compras</h1>
        </div>
        <div class="icons-container">
            <a href="{{ url_for('index') }}">
                <i class="fas fa-home" id="home-icon"></i>
            </a>
        </div>
    </header>

    <!-- Barra de navegação -->
    <nav class="nav-bar">
        <a href="#">Alimentos</a>
        <a href="#">Cosméticos</a>
        <a href="#">Bebidas</a>
        <a href="#">Acessórios</a>
        <a href="#">Tecnológicos</a>
    </nav>

    <main>
        <!-- Detalhes do carrinho -->
        <section class="cart-details">
            <h2>Itens no Carrinho</h2>
            
            <form class="cart-form">
                <ul class="cart-items">
                    {% for item in cart_items %}
                    <li class="cart-item">
                        <div class="item-details">
                            <img src="{{ url_for('static', filename=item.imagem_url) }}" alt="{{ item.nome_produto }}">
                            <div class="item-info">
                                <h3>{{ item.nome_produto }}</h3>
                                <p>Preço: R$ {{ item.preco_venda }}</p>
                                <p>Quantidade: {{ item.quantidade }}</p>
                            </div>
                        </div>
                        <div class="item-price">
                            <p>Total: R$ {{ item.total_preco }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>

                <div class="cart-summary">
                    <h3>Resumo da Compra</h3>
                    <p><strong>Total:</strong> R$ <span id="total-price">{{ total_price }}</span></p>
                    <button type="button" class="checkout-btn">Finalizar Compra</button>
                </div>
            </form>
        </section>
    </main>

    <script src="{{ url_for('static', filename='js/cart.js') }}"></script>
</body>
</html>
