<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous" />
</head>
<body>

    <header class="header">
        <div class="logo-container">
            <img id="g" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
            <h1 class="titulo-ecommerce">Ecommerce</h1> <!-- Adicionando o título aqui -->
        </div>
        <div class="search-container">
            <input type="text" placeholder="Pesquisar..." class="search-input">
            <button class="search-btn">
                <img id="h" src="{{ url_for('static', filename='img/Lupa.png') }}" alt="">
            </button>
            <a href="{{ url_for('carrinho') }}">
                <img id="cart-icon" src="{{ url_for('static', filename='img/cart.png') }}" alt="Carrinho">
            </a>
        </div>
    </header>
    

    <nav class="nav-bar">
        <a href="#">Alimentos</a>
        <a href="#">Cosmeticos</a>
        <a href="#">Bebidas</a>
        <a href="#">Acessórios</a>
        <a href="#">Tecnológicos</a>
    </nav>

    <section class="carousel">
        <div class="carousel-container">
            <div class="carousel-slide">
                <img src="{{ url_for('static', filename='img/slide1.png') }}" alt="Slide 1">
            </div>
            <div class="carousel-slide">
                <img src="{{ url_for('static', filename='img/slide2.png') }}" alt="Slide 2">
            </div>
            <div class="carousel-slide">
                <img src="{{ url_for('static', filename='img/slide3.png') }}" alt="Slide 3">
            </div>
        </div>
    </section>
    
    

<hr>

    <section id="produtos" class="produto-section">
        <h1>Nossos Produtos</h1>
        <div class="produto-container">
            {% for produto in produtos %}
            <div class="produto-card">
                <img src="{{ produto['imagem_url'] }}" alt="{{ produto['nome_produto'] }}" class="produto-imagem">
                <h2 class="produto-nome">{{ produto['nome_produto'] }}</h2>
                <p class="produto-descricao">{{ produto['descricao'] }}</p>
                <p class="produto-preco"><strong>Preço:</strong> R$ {{ produto['preco_venda'] }}</p>
                <p class="produto-quantidade"><strong>Quantidade disponível:</strong> {{ produto['quantidade'] }}</p>
                <a href="{{ url_for('carrinho') }}" class="btn-comprar">Comprar</a>
            </div>
            {% endfor %}
        </div>
    </section>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
