<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Lista de Produtos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nome do Produto</th>
                <th>Preço de Venda</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto['nome_produto'] }}</td>
                <td>{{ produto['preco_venda'] }}</td>
                <td>{{ produto['quantidade'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
